FREEMIUS_FRAME_MAKER_BEARER_TOKEN=382e9d420b1d8b279d086c3c1dc9d14c
FREEMIUS_IMAGE_BLEND_BEARER_TOKEN=5b01c25b0090a6e1cf20af83a3a98d23
FREEMIUS_COLLAGE_MAKER_BEARER_TOKEN=bdeb7a0e5a89c7e2cbff653ec29a6d61
FREEMIUS_TYPE_WARP_BEARER_TOKEN=affec5c6d9108f02912524dc6050e362

# Optional: require Chatwoot to load the app with ?access_token=the_same_value
PORTAL_ACCESS_TOKEN=

# Optional: send users to a specific portal section, for example:
# /store/123/subscriptions
FREEMIUS_PORTAL_NEXT_PATH=
